// some styles local to this project
body {
    background: #000;
    }

.sitebox {
    -moz-box-shadow: 1px 0px 15px #fff;
    -webkit-box-shadow: 0px 0px 15px #fff;
    }

.sidebar {
    /* for IE */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
    background-color: #000;
}

#header {
    background-color: #c02942;
}

#header h2 {
    color: #fefefe;
}

#header a, p, h1 {
    color: #fefefe;
    text-decoration: none;
}

#header h1 a {
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 3em;
}

#header h2 {
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 2.0em;
}

#post {
	background-color: #141414;
}

#post-content p {
    font-family: "Droid Sans", arial, serif;
    font-size: 1.1em;
}

#post-title h3 {
    font-family: "Droid Serif", serif;
    font-size: 4.0em;
    color: #fef;
}

#admin-menu a, p, li {
    font-family: "Droid Sans", arial;
}

#banner {
    background-image: url('/static/img/bannery.png');
    background-repeat: repeat-x;
}

#menubar {
    background-color: #532336;
    font-size: 1.6em;
    border-style: solid;
    border-width: 0px 0px 0.5em;
    border-color: #53777a;
}


#menubar a:hover {
    background-color: #cbb6be;
}

#site-logo img {
    border-color: #fefefe;
    border-width: 0.5px;
    background-color: #010101;
}

.post-text h1 a {
    color: #fef;
    text-decoration: none;
}

.posts {
   background-color: #141414;
   font-family: "Droid Sans";
   color: #fef;
  }

.posts h1 {
   font-family: "Droid Serif";
   font-size: 3em;
   color: #fef;
}
.posts div {
    float: left;
    color: #fef;
    }

.colborder {
    color: #53777A;
}
.posts div h1 h2 h3 a {
        color: #53777A;
    }

.posts div h1 a:visited {
        color: white;
    }

.posts div h1 a:hover {
        color: #fff;
    }

.site-banner {
    background-color: #666;
    }

.site-banner h1 a {
    color: #eee;
    text-decoration: none;
    font-size: 3em;
    }

.site-banner h1 a:hover {
    background-color: #0b75b2;
    font-size: 3em;
    }


#userbox p {
    background-color: #111;
    margin: 3em 3em;
}

#userbox a {
    color: gray;
}

.ui-icon {
	margin: 0px;
	}

#footer {
    background-color: #532336;
    border-style: solid;
    border-width: 0.5em 0px 0px;
    border-color: #53777a;
    }
