// some styles local to this project
body {
    background: #000;
    }

#header {
    background-color: #c02942;
}

#header h2 {
    color: #fefefe;
}

#header a,p,h1 {
    color: #fefefe;
    text-decoration: none;
}

#header h1 a {
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 3em;
}

#header h2 {
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 2.0em;
}

#post-content p {
    font-family: "Droid Sans", arial, serif;
    font-size: 1.1em;
}

#post-title h3 {
    font-family: "Droid Serif", serif;
    font-size: 4.0em;
}

#admin-menu a, p, li {
    font-family: "Droid Sans", arial;
}

#admin-menu li {
    font-size: 1.5em;
    list-decoration
}
#banner {
    background-image: url('/static/img/bannery.png');
    background-repeat: repeat-x;
}

#menubar {
    background-color: #532336;
    font-size: 1.6em;
}


#menubar a:hover {
    background-color: #cbb6be;
}

#site-logo img {
    border-color: #fefefe;
    border-width: 0.5px;
    background-color: #010101;
}

.posts {
   background-color: #020202;
   font-family: "Droid Sans";
  }

.posts h1 {
   background-color: #010101;
   font-family: "Droid Serif";
   font-size: 3em;
}
.posts div {
    margin: 0;
    padding: 0;
    float: left;
    }

.posts div a {
        float: left; text-decoration: none;
        color: #FFF;
        padding: 10.5px 11px;
    }

.posts div h1 a:visited {
        color: white;
    }

.posts div h1 a:hover {
        color: #fff;
    }

.site-banner  {
    background-color: #666;
    }

.site-banner h1 a {
    color: #eee;
    text-decoration: none;
    }

.site-banner h1 a:hover {
    background-color: #0b75b2;
    }

#userbox {
    background-color: #111;
}

#userbox p {
    background-color: #111;
    margin: 3em 3em;
}

#userbox a {
    color: gray;
}

.ui-icon {
	margin: 0px;
	}

#posts:nth-of-type(2n+1) {
    background-color: #5f5f5f;
}

.description {
    background-color: #303030;
}

h1.title {
    background-color: #202020;
}
