// some styles local to this project
body {
    background: #000;
}

h1, h2, h3, h4, h5, h6 {
    color: #F0F0F0 !important;
}

.menu {
    background: #333;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.menu ul li {
    display: inline;
}

.menu ul li a{
        float: left; text-decoration: none;
        color: white;
        padding: 10.5px 11px;
        background-color: #333; }

.menu ul li a:visited{
        color: white;}

.menu ul li a:hover, .menu ul li .current{
        color: #fff;
        background-color:#0b75b2;}

.posts {
   background-color: #222;
  }

.posts div {
    margin: 0;
    padding: 0;
    float: left;
    }

.posts div h1 a {
        float: left; text-decoration: none;
        color: white;
        padding: 10.5px 11px;
        background-color: #333; 
    }

.posts div h1 a:visited {
        color: white;
    }

.posts div h1 a:hover, .menu ul li .current {
        color: #fff;
        background-color:#0b75b2; 
    }

.posts {
   background-color: #222;
    }


