{% extends "base.html" %}
{% block title %}Editing: {{ text_post.title|escape }} - {{ meta.site.name }}{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
// <![CDATA[
$(document).ready(function() {
        $(".title").editable("http://{{ meta.site.domain }}/admin/edit/{{
            text_post.slugid|escape }}/_title",
            {
                submit : 'save',
                method : 'PUT',
                cancel : 'cancel',
                indicator : '<img src="/static/img/ajax-loader.gif">',
                tooltip : 'click to edit',
                loadurl : '/admin/edit/{{
                text_post.slugid|escape }}/_title',
                name    : 'title',
            });

        $(".autogrow").editable("/admin/edit/{{
            text_post.slugid|escape }}/_content", {
                submit : 'save',
                method : 'PUT',
                cancel : 'cancel',
                loadurl : '/admin/edit/{{
                text_post.slugid|escape
                }}/_content',
                //tooltip : 'click to edit...',
                name    : 'content',
                type    : 'textarea',
            });
        $('#finish').button();
    });
//!>
</script>
<div class="span-18 colborder">
    <div class="span-16 prepend-1 append-2 last">
        <h2 name="title" class="title">{{ text_post.title|escape }}<span class="ui-icon ui-icon-pencil editable"></span></h2>
        {{ text_post.date_created|escape }}
        <div name="content" class="autogrow">{{
            text_post.html_content|safe
            }}<span class="ui-icon ui-icon-pencil editable"></span></div>
        </div>
</div>
    <div class='span-4 last'>
        <a class='edit' id='finish' href='{{ url_for('post_by_slugid',
            slugid=text_post.slugid ) }}'>Finish</a>
    </div>

{% endblock %}
