{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>{% block title %}{{ meta.site.title }}{% endblock %}</title>
        <!-- JavaScript -->
        <!-- JQuery -->
	<!--<script type="text/javascript" src="/static/js/jquery.js"></script>-->
	<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/static/js/jquery.effects.core.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.tabs.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.button.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.datepicker.js"></script>
        <!-- jQuery Forms -->
        <script type="text/javascript" src="/static/js/jquery.form.js"></script>
        <!-- Galleria -->
	<script type="text/javascript" src="/static/js/galleria.js"></script>
	<script type="text/javascript" src="/static/js/galleria/plugins/galleria.flickr.js"></script>
	<!-- InsertAtCaret -->
        <script src="/static/js/insertAtCaret.js" type="text/javascript"></script> 
        <!-- jEditable -->
        <script src="/static/js/plugins/jeditable/jquery.jeditable.js" type="text/javascript"></script> 
        <script src="/static/js/plugins/jeditable/jquery.jeditable.autogrow.js" type="text/javascript"></script>
	<!-- WMD -->
	<script type='text/javascript'>
		var wmd_options = {
			output: "Markdown"
		}
	</script>
        <script type="text/javascript" src='/static/js/wmd/wmd.js'></script>

        <!-- CSS -->
	<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/local.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/screen.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/src/forms.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/print.css" media="print" />
	<!--[if lt IE 8]>
        <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen,projection" />
	<![endif]-->
    <script type='text/javascript'>
            $(document).ready(function () {
                $(".login_button").button({
			icons: {
				primary: 'ui-icon-locked',
			},
		});
                $(".unlock").button({
			icons: {
				primary: 'ui-icon-unlocked',
                                type: 'submit',
			},
		});

		$('#login_show').toggle(
			function() {
		            $('#login_hidden').animate({
				opacity: 'toggle',
				width: ['toggle', 'swing'],
				height: ['toggle', 'swing'],
				visibility: 'show',
				}, 1500, 'swing');
			},
			function () {
			    	$('#login_hidden').animate({
				opacity: 'toggle',
				width: ['toggle', 'swing'],
				height: ['toggle', 'swing'],
				visibility: 'hide',
				}, 1500, 'swing');
			}
            	);
		$("#published_date").datepicker({
		        dateFormat: "yy-mm-dd"
                        });
	});
</script>
        </script>
	<link href="{{ url_for('atom_feed') }}"
	      rel="alternate"
	      title="{{ meta.site.title|escape }} - Feed" 
    	      type="application/atom+xml">
	{% endblock %}
</head>
<body>
    {% block errors %}
        {% for msg in get_flashed_messages() %}
            <div class="ui-state-error">
                <h2>{{ msg }}</h2>
            </div>
        {% endfor %}
    {% endblock %}
    <div class="container">
        <div class="span-24 last">
	{% block header %}
            <div class="span-18 colborder" id="header">
                <div class="site-banner span-11 prepend-1">
                    <h1><a href="/" title="home">{{ meta.site.title }}</a></h1>
                    {% if meta.site.motto %}
                    <h4>
                        {{ meta.site.motto }}
                    </h4>
                    {% endif %}
                </div>
                <div class="span-5 site-logo last">
                    <img src="/{{ meta.site.logo }}" />
                </div>
                <div class="menu span-18 colborder last">
                    <ul>
			    <li><a href="/">home</a></li>
			    <li><a href="/about">about</a></li>
			    {% if meta.logged_in %}
			    <li><a href="/admin">admin</a></li>
			    {% endif %}
                    </ul>
                </div>
            </div>
        <div id="userbox" class="span-4 last">
            {% if meta.logged_in %}
            <p id="userbox">Howdy, <a href="/profile/{{ meta.user.username }}">{{
                meta.user.username}}</a><br /><a class="login_button" href="/logout">logout</a></p>
            {% else %}
            <p><button href="#login" class="login_button" id="login_show">login</button></p>
            <fieldset id="login_hidden" style="display: none">
                <form action="/login" method="POST">
                    {{ meta.loginform.hidden_tag() }}
                    {{ meta.loginform.username.label }} {{ meta.loginform.username(size=20) }}<br />
                    {{ meta.loginform.password.label }} {{ meta.loginform.password(size=20) }}
                    <button class="unlock" type='submit'>unlock</button>
                </form>
            </fieldset>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block content %}
    {% if flatpage %}
    <h1>{{ flatpage.title }}</h1>
            {{ flatpage.html_content|safe }}
    {% endif %}
    {% endblock %}
    <div class="span-24" id="footer">
    {% block footer %}
    <div class="span-23 prepend-1 last">copyright 2010. Faris Chebib</div>
    {% endblock %}
    </div>
</div>
</body>
</html>
