{% extends "base.html" %}
{% block title %}{{ meta.site.title }} | Index{% endblock %}
{% block content %}
	<script>
		$(document).ready(function () {
		    // Load theme
		    Galleria.loadTheme('static/js/galleria/themes/classic/galleria.classic.js');
		    $('#images').galleria();
		});
	</script>
       <div id='posts' class='prepend-1 posts span-18'>
              {% for post in posts %}
            <div class="post-text span-11">
            <h1>
                <a href="/post/{{ post.slugid }}/{{ post.slug }}">{{
                   post.title }}</a>
            </h1>
                    <div class="content">
                        {{ post.html_content|safe }}
                    </div>
                    <div>
                        <p>slugid:{{ post.slugid }}</p>
                        <p><b>{{ post.created }}</b></p>
                        <a href="/post/{{ post.slug }}" title="read more">...</a>
                    </div>
                </div>
                {% if post.media %}
                <div class="post_img span-4 last">
                    <ul id='galleria'>
                        {% for media in post.media %}
                        <img src="{{ media.medium }}" alt={{
                        media.description|escape }} />
                        {% endfor %}
                </div>
                {% else %}
                <div class="post_img span-3 last">
                    &nbsp;
                </div>
                {% endif %}
                <hr />
                {% endfor %}
            </ul>
        </div>
        <div class='span-4 sidebar last'>
            <h1>Images</h1>
	    <div id='images'>
		    <ul>
			{% for image in images %}
			<li><b>{{ image.title }}</b><br />
			<a href='{{ url_for('frontend.image_by_slugid', slugid=image.slugid)
			    }}' ><img src='{{ image.small }}' alt='{{ image.description
			    }}' /></a></li>
			{% endfor %}
		    </ul>
	    </div>
            <h1>Users</h1>
            <ul>
                {% for user in users %}
                <li><a href="/profile/{{user.username}}">{{ user.username
                    }}</a> -- id:<a href="/profile/id/{{user.id}}">{{user.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
</body>
</html>
