{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}ADMIN{% endblock %}
{% block content %}
<h1>Administration Panel</h1>
<div class="accordion span-18 colborder">
    <h3><a href='#'>Add Text Entry</a></h3>
    <div>
    <form method="POST" action="/admin/add/text">
        <dl>
            {{ text_post_form.hidden_tag() }}
            {{ render_field(text_post_form.title) }}
            {{ render_field(text_post_form.author) }}
            {{ render_field(text_post_form.content) }}
        </dl>
      <p><input class='submit_button' type='submit' value='save' /></p>
    </form>
        <div span-17 colborder>        </div>
    </div>
    <h3><a href="#">Add a user (for admin purposes)</a></h3>
    <div>
    <form method="POST" action="/admin/add/user">
        <dl>
        {{ user_form.hidden_tag() }}
        {{ render_field(user_form.username) }}
        {{ render_field(user_form.email) }}
        {{ render_field(user_form.password) }}
        {{ render_field(user_form.confirm) }}
        {{ render_field(user_form.accept_tos) }}
        </dl>
      <p><input class='submit_button' type='submit' value='Add User' /></p>
    </form>
    </div>

    <h3><a href="#">Meta Site Stuff</a></h3>
    <div>
    <form method="POST" action="/admin/add/site" enctype="multipart/form-data">
        <dl>
            {{ site_post_form.hidden_tag() }}
            {{ render_field(site_post_form.title) }}
            {{ render_field(site_post_form.motto) }}
            {{ render_field(site_post_form.domain) }}
            {{ render_field(site_post_form.logo) }}
        </dl>
      <p><input class='submit_button' type='submit' value='save' /></p>
    </form>
    </div>
</div>
<script type='text/javascript' charset="utf-8">
            $(document).ready(function () {
                $(".add_image").live('click', function () {
                    $.get("{{ url_for('add_image') }}", 
                        function (data) {
                            //$(".image_form").html(data);
                            $('.image_form').after(data)
                        });
                });
                $(".post_image").click(function () {
                    $(this).post(
                        "{{ meta.site.domain }}/{{ url_for('add_image')
                        }}",
                        function () {
                            (data).appendTo($('.image_form'));
                        });
                });
                $(".post_image").button();
                $(".add_image").button();
            }); 
</script>
<div class="span-5 last">
    <div class='image_form'>
    </div>
    <a class='add_image'>Add new image</a>
</div>
{% endblock %}
