<!doctype html>
<div id='manage-content'>
    <fieldset>
        <legend>Manage Posts</legend>
        <table>
                <tr>
                        <td><b>Title</b></td>
                        <td><b>SlugID</b></td>
                        <td><b>Created</b></td>
                        <td><b>Updated</b></td>
                        <td><b>Actions</b></td>
                </tr>
            {% for post in posts %}
                <tr>
                        <td><a href={{ url_for('post_by_slugid',
                                slugid=post.slugid) }}><b>{{
                                    post.title }}</a></b>
                        </td>
                        <td>
                             <i>{{ post.slugid }}</i>
                        </td>
                        <td>
                             <i>{{ post.created }}</i>
                        </td>
                        <td>
                             <i>{{ post.updated[0] }}</i>
                        </td>
                        <td>
                            <p><a href='{{ url_for('delete_post',
                                slugid=post.slugid) }}'>delete</a> | 
                            <a href='{{ url_for('edit_text_ajax',
                                slugid=post.slugid) }}'>edit</a>
                            </p>
                        </td>
                </tr>
                {% endfor %}
        </table>
    </fieldset>
    <fieldset>
        <legend>Manage Images</legend>
         <table>
                <tr>
                        <td><b>Title</b></td>
                        <td><b>Thumbnail</b></td>
                        <td><b>SlugID</b></td>
                        <td><b>Created</b></td>
                        <td><b>Actions</b></td>
                </tr>
            {% for image in images %}
                <tr>
                        <td><a href={{ image.orig }}><b>{{
                                    image.title }}</a></b>
                        </td>
			<td>
				<a href={{ image.orig }}>
					<img alt={{ image.description }} 
					src={{ image.small }} />
				</a>
                        </td>
                        <td>
                             <i>{{ image.slugid }}</i>
                        </td>
                        <td>
                             <i>{{ image.created }}</i>
                        </td>
                        <td>
                            <p><a href='{{ url_for('delete_image',
                                slugid=image.slugid) }}'>delete</a>
                            </p>
                        </td>
                </tr>
                {% endfor %}
        </table>
    </fieldset>
</div>

