{% extends "base.html" %}
{% block title %}New Text Post{% endblock %}
	{% block head %}
        <!-- JavaScript -->
	<script src="/static/js/jquery.js"></script>
        <script type='text/javascript'>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <!-- Galleria -->
	<script src="/static/js/galleria.js"></script>
	<script src="/static/js/galleria/plugins/galleria.flickr.js"></script>
        <!-- jEditable -->
        <script src="/static/js/plugins/jeditable/jquery.jeditable.js" type="text/javascript"></script> 
        <script src="/static/js/plugins/jeditable/jquery.jeditable.autogrow.js" type="text/javascript"></script>

        <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/local.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/screen.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/src/forms.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint/print.css" media="print" />
	<!--[if lt IE 8]>
	    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen,projection" />
	<![endif]-->

<script type="text/javascript" charset="utf-8"> 
// <![CDATA[
$(document).ready(function() {
        $(".title").editable("http://dendrite.local:5002/admin/edit/{{
            text_post.slug|escape }}/_title",
            {
                submit : 'OK',
                method : 'PUT',
                cancel : 'Cancel',
                indicator : '<img src="/static/img/ajax-loader.gif">',
                tooltip : 'click to edit',
                loadurl : 'http://dendrite.local:5002/admin/edit/{{
                text_post.slug|escape }}/_title',
                name    : 'title',
            });

        $(".autogrow").editable("http://dendrite.local:5002/admin/edit/{{
            text_post.slug|escape }}/_content", {
                submit : 'OK',
                method : 'PUT',
                cancel : 'Cancel',
                loadurl : 'http://dendrite.local:5002/admin/edit/{{
                text_post.slug|escape
                }}/_content',
                //tooltip : 'click to edit...',
                name    : 'content',
                type    : 'textarea',
            });
    });
//!>
</script>
{% endblock %}
{% block content %}
<div class="span-19 colborder">
    title: <h2 name="title" class="title">{{ text_post.title|escape }}</h2>
    content: 
    <div class="span-16 prepend-1 append-2 last">
        <div name="content" class="autogrow">{{ text_post.html_content|safe
            }}</div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
