<!doctype html>
{% from "_formhelpers.html" import render_field %}
<title>Administer</title>
<h1>Administration Panel</h1>

<h3>Add a user (for admin purposes)</h3>
<form method="post" action="/admin/add/user">
    <input type="hidden" value="{{ csrf_token() }}" />
    <dl>
    {{ render_field(user_form.username) }}
    {{ render_field(user_form.email) }}
    {{ render_field(user_form.password) }}
    {{ render_field(user_form.confirm) }}
    {{ render_field(user_form.accept_tos) }}
    </dl>
  <p><input type='submit' value='Add User' /></p>
</form>

<h3>Add Text Entry</h3>
<form method="post" action="/admin/add/text">
    <input type="hidden" value="{{ csrf_token() }}" />
    <dl>
        {{ render_field(text_post_form.title) }}
        {{ render_field(text_post_form.content) }}
        {{ render_field(text_post_form.tags) }}
        {{ render_field(text_post_form.date_created) }}
    </dl>
  <p><input type=submit value='save' /></p>
</form>

<h3>Add Text Entry</h3>
<form method="post" action="/admin/add/text">
    <input type="hidden" value="{{ csrf_token() }}" />
    <dl>
        {{ render_field(text_post_form.title) }}
        {{ render_field(text_post_form.author) }}
        {{ render_field(text_post_form.slug) }}
        {{ render_field(text_post_form.tags) }}
        {{ render_field(text_post_form.date_created) }}
	<!-- Specifically TextPost -->
        {{ render_field(text_post_form.content) }}
    </dl>
  <p><input type=submit value='save' /></p>
</form>
