<!doctype html>
{% from "_formhelpers.html" import render_field %}
<title>Administer</title>
<h1>Administration Panel</h1>

<h3>Upload new photo</h3>
<form action="/admin/add/photo" method='post' enctype='multipart/form-data'>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    {{ render_field(photo_form.photo) }}
    {{ render_field(photo_form.title_en) }}
    {{ render_field(photo_form.title_fr) }}
    {{ render_field(photo_form.description_en) }}
    {{ render_field(photo_form.description_fr) }}
    {{ render_field(photo_form.status_en) }}
    {{ render_field(photo_form.status_fr) }}
    {{ render_field(photo_form.price) }}
    <p><input type=submit value='Upload Photo' /></p>
</form>

<h3>Add a user (for admin purposes)</h3>
<form method="post" action="/admin/add/user">
    <input type="hidden" value="{{ csrf_token() }}" />
    <dl>
    {{ render_field(user_form.username) }}
    {{ render_field(user_form.email) }}
    {{ render_field(user_form.password) }}
    {{ render_field(user_form.confirm) }}
    {{ render_field(user_form.accept_tos) }}
  </dl>
  <p><input type='submit' value='Add User' /></p>
</form>

<h3>Add Artist</h3>
<p>Artists will have their own pages linked from the index</p>
<form method="post" action="/admin/add/artist">
    <input type="hidden" value="{{ csrf_token() }}" />
    <dl>
        {{ render_field(artist_form.unique_name) }}
        {{ render_field(artist_form.first_name) }}
        {{ render_field(artist_form.last_name) }}
        {{ render_field(artist_form.bio_en) }}
        {{ render_field(artist_form.bio_fr) }}
    </dl>
  <p><input type=submit value='Add Artist' /></p>
</form>

