<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	{% block head %}
	<title>{% block title %}{{ site.title }}{% endblock %}</title>
	<script src="static/js/jquery.js"></script>
	<script src="static/js/galleria.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/local.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="static/css/blueprint/screen.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="static/css/blueprint/print.css" media="print" />
	<!--[if lt IE 8]>
	    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen,projection" />
	<![endif]-->
	<script src="static/js/galleria/plugins/galleria.flickr.js"></script>
	{% endblock %}
</head>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <div class="container" id="footer">
    {% block footer %}
    <div class="span-24 last">copyright 2010. Faris Chebib</div>
    {% endblock %}
    </div>
</body>
</html>
