{% extends "base.html" %}
{% block title %}Home: {{userpage.username}}{% endblock %}
{% block content %}
<div class="span-17 prepend-1 colborder">
    This is {{ userpage.username }}'s page!<br />
    The id of this user is: <a href="http://{{ meta.site.domain
        }}/profile/id/{{userpage.id}}">{{userpage.id}}</a>
</div>

<div class="span-5 last">
    {% if user_is_home %}
        <a href="{{userpage.username}}/edit">edit {{ userpage.username }}</a><br />
    {% elif meta.user.logged_in %}
            <a href="{{userpage.username}}/message">message {{userpage.username}}</a><br />
    {% else %}
        <p>You are not <a href="/login">logged in</a>.
    {% endif %}

</div>
{% endblock %}
