{% extends "base.html" %}
{% block title %}Welcome: Index{% endblock %}
{% block content %}
        {% for msg in get_flashed_messages() %}
        <h2>{{ msg }}</h2>
        {% endfor %}
        <div class='span-17 colborder'>
            <h1>Posts</h1>
            <ul>
                {% for post in posts %}
                    <li>{{ post.title }} id:{{ post.id }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class='span-6 last'>
            <h1>Users</h1>
            <ul>
                {% for user in users %}
                <li><a href="user/{{user.username}}">{{ user.username }}</a> -- id:<a href="user/id/{{user.id}}">{{user.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
	<div class='span-20'>
            <ul id="gallery">
                {% for image in images: %}
                <li><a href="#"><img src='{{ image.src }}' /></a></li>
                {% endfor %}
            </ul>
	</div>
	<div class='span-4 last'>
            {% if user.first_name %}
                <h1>hello there {{ user.first_name }}</h1>
                <h2>{{ url }}</h2>
		<p>What a work of art</p>
            {% else %}
                <h1>Who are you?</h1>
            {% endif %}
	</div>
        <div class="span-12">
            <p>ALPHA</p>
	    <div id="galleria"></div>
        </div>
	{% endblock %}
{% block footer %}
    <script>
        //$(document).ready(function){
            // Load theme
            Galleria.loadTheme('static/js/galleria/themes/classic/galleria.classic.js');
            $('#gallery').galleria();
            // initialize flickr plugin
            var flickr = new Galleria.Flickr('fddd7bc223fe37295faace93a4f2d8fc');
            // search for photos tagged 'lomo', edit options and apply galleria
            flickr.setOptions({
                max: 50,
                sort: 'relevancy'
            }).getTags('simon fraser university', function(data) {
                $('#galleria').galleria({
                    data_source: data,
                    image_crop: false,
                    frame_color: '#000',
                    transition: 'fade',
                    hide_dock: false,
                    extend: function() {
                        this.$('info,counter').hide();
                    }
                });
            });
        //}
    </script>
    {% endblock %}
    </body>
</html>
