<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Gallery Test</title>
<script src="static/js/jquery.js"></script>
<script src="static/js/galleria.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/local.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="static/css/blueprint/screen.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="static/css/blueprint/print.css" media="print" />
<!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen,projection" />
<![endif]-->
<script src="static/js/galleria/plugins/galleria.flickr.js"></script>
</head>
<body>
<div class='container'>
        {% for msg in get_flashed_messages() %}
        <h2>{{ msg }}</h2>
        {% endfor %}
	<div class='span-20'>
	    <div id="galleria"></div>
	</div>
	<div class='span-4 last'>
                <h1>{{ user }}</h1>
                <h2>{{ url }}</h2>
		<p>What a work of art</p>
	</div>
        <div class="span-12">
            <p>ALPHA</p>
            <ul id="gallery">
                {% for image in images: %}
                <li><a href="#"><img src='{{ image.src }}' /></a></li>
                {% endfor %}
            </ul>
	</div>
</div>
    <script>
        //$(document).ready(function){
            // Load theme
            Galleria.loadTheme('static/js/galleria/themes/classic/galleria.classic.js');
            $('#gallery').galleria();
            // initialize flickr plugin
            var flickr = new Galleria.Flickr('fddd7bc223fe37295faace93a4f2d8fc');
            // search for photos tagged 'lomo', edit options and apply galleria
            flickr.setOptions({
                max: 50,
                sort: 'relevancy'
            }).getTags('simon fraser university', function(data) {
                $('#galleria').galleria({
                    data_source: data,
                    image_crop: false,
                    frame_color: '#000',
                    transition: 'fade',
                    hide_dock: false,
                    extend: function() {
                        this.$('info,counter').hide();
                    }
                });
            });
        //}
    </script>
    </body>
</html>
